#root {

  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}



/* Custom scrollbar styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
